<% include partials/head %>
<% include partials/header-notice %>

<% if (typeof user != 'undefined') { %>
   <%- include('partials/header', {user}) %>
<% } else { %>
   <%- include partials/header %>
<% } %>

<main class="main">
   <div class="shadow-overlay"></div>

   <div class="container">
      <section class="login-section">
         <div class="page-header">
            <h1 class="page-header__title"><%= user.first_name %>'s Account</h1>
         </div>

         <% if (typeof errorMsg != 'undefined') { %>
         <h3 class="msg-header msg-header--error"><i class="msg-header__icon fas fa-exclamation-circle message-header__icon"></i><%= errorMsg %></h3>
         <% } %>

         <% if (typeof successMsg != 'undefined') { %>
            <h3 class="msg-header msg-header--success"><i class="msg-header__icon fas fa-check message-header__icon"></i><%= successMsg %></h3>
            <% } %>

         <div class="account-section__content">

               <form class="form" method="POST" action="/user/account/<%= user.id %>?_method=PUT">
                  
                  <div class="form__section">
                     <h2 class="form__title">Current Information</h2>
      
                     <div class="form__inputs-wrap">
                        <div class="form__input-wrap">
                           <label for="firstName" class="form__input-label">First Name</label>
                           <input type="text" class="form__input" name="firstName" readonly value="<%= user.first_name %>">
                        </div>
                        
                        <div class="form__input-wrap">
                           <label for="lastName" class="form__input-label">Last Name</label>
                           <input type="text" class="form__input" name="lastName" readonly value="<%= user.last_name %>">
                        </div>
                        
                        <div class="form__input-wrap">
                           <label for="accountUsername" class="form__input-label">Email Address</label>
                           <input type="email" class="form__input" name="username" readonly value="<%= user.username %>">
                        </div>
                        
                     </div>
                  </div>

                  <div class="form__section">
                     <h2 class="form__title">Update Password</h2>
   
                     <div class="form__inputs-wrap">
                        <div class="form__input-wrap">
                           <label for="currentPassword" class="form__input-label">Current Password</label>
                           <input type="password" class="form__input" name="password" required>
                        </div>
                        
                        <div class="form__input-wrap">
                           <label for="newPassword" class="form__input-label">New Password</label>
                           <input type="password" class="form__input" name="newPassword" required>
                        </div>
                        
                        <div class="form__input-wrap">
                           <label for="confirmPassword" class="form__input-label">Confirm New Password</label>
                           <input type="password" class="form__input" name="confirmPassword" required>
                        </div>
                        
                        <input type="submit" class="form__btn btn btn--red btn--hover-float" value="Update Password">
                     </div>
                  </div>
               </form>


         </div>
      </section>
   </div>

</main>

<% include partials/footer %>