<% include partials/head %>

<% if (typeof user != 'undefined') { %>
   <%- include('partials/header', {user}) %>
<% } else { %>
   <%- include partials/header %>
<% } %>

<main class="main">
   <div class="shadow-overlay"></div>

   <div class="container">
      <section class="login-section">
         <div class="page-header">
            <h1 class="page-header__title"><%= user.first_name %>'s Account</h1>
         </div>

         <div class="account-section__content">

            <div class="form-container">
               <form class="account__form form" method="POST" action="/register">
                  <h2 class="account__title form__title">Account Info</h2>
   
                  <div class="form__content">
                     <div class="account__sub-container form-sub-container">
                        <label for="firstName">First Name</label>
                        <input type="text" class="account__first-name-input input" name="firstName" required value="<%= user.first_name %>">
         
                        <label for="lastName">Last Name</label>
                        <input type="text" class="account__last-name-input input" name="lastName" required value="<%= user.last_name %>">
                        
                        <label for="accountUsername">Email Address</label>
                        <input type="email" class="account__email-input input" name="accountUsername" required value="<%= user.username %>">
                     </div>
                  </div>
               </form>
            </div>
   
            <div class="form-container">
               <form class="account__form form" method="POST" action="/register">
                  <h2 class="account__title form__title">Change Password</h2>
   
                  <div class="form__content">
                     <div class="account__sub-container form-sub-container">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="account__password-input input" name="currentPassword" required>
   
                        <label for="newPassword">New Password</label>
                        <input type="password" class="account__password-input input" name="newPassword" required>
         
                        <label for="confirmPassword">Confirm New Password</label>
                        <input type="password" class="account__confirm-password-input input" name="confirmPassword" required>
         
                        <input type="submit" class="account__btn btn btn--red btn--hover-float" value="Update Password">
                     </div>
                  </div>
               </form>
            </div>

         </div>
      </section>
   </div>

</main>

<% include partials/footer %>