<% include partials/head %>

<% if (typeof user != 'undefined') { %>
   <%- include('partials/header', {user}) %>
<% } else { %>
   <%- include partials/header %>
<% } %>

<main class="main">
   <div class="shadow-overlay"></div>

   <div class="container">
      <section class="login-section">
         <div class="page-header">
            <h1 class="page-header__title"><%= user.first_name %>'s Account</h1>
         </div>

         <% if (typeof errorMsg != 'undefined') { %>
         <h3 class="msg-header msg-header--error"><i class="msg-header__icon fas fa-exclamation-circle message-header__icon"></i><%= errorMsg %></h3>
         <% } %>

         <% if (typeof successMsg != 'undefined') { %>
            <h3 class="msg-header msg-header--success"><i class="msg-header__icon fas fa-exclamation-circle message-header__icon"></i><%= successMsg %></h3>
            <% } %>

         <div class="account-section__content">

               <form class="account__form form" method="POST" action="/user/account/<%= user.id %>?_method=PUT">
                  <div class="form-container">
                     <h2 class="account__title form__title">Account Info</h2>
      
                     <div class="form__content">
                        <div class="account__info-sub-container form-sub-container">
                           <label for="firstName">First Name</label>
                           <input type="text" class="account__first-name-input input" name="firstName" readonly value="<%= user.first_name %>">
            
                           <label for="lastName">Last Name</label>
                           <input type="text" class="account__last-name-input input" name="lastName" readonly value="<%= user.last_name %>">
                           
                           <label for="accountUsername">Email Address</label>
                           <input type="email" class="account__email-input input" name="username" readonly value="<%= user.username %>">
                        </div>
                     </div>


                     <h2 class="account__title form__title">Update Password</h2>
      
                     <div class="form__content">
                        <div class="account__password-sub-container form-sub-container">
                           <label for="currentPassword">Current Password</label>
                           <input type="password" class="account__password-input input" name="password" required>
      
                           <label for="newPassword">New Password</label>
                           <input type="password" class="account__password-input input" name="newPassword" required>
            
                           <label for="confirmPassword">Confirm New Password</label>
                           <input type="password" class="account__confirm-password-input input" name="confirmPassword" required>
            
                           <input type="submit" class="account__btn btn btn--red btn--hover-float" value="Update Password">
                        </div>
                     </div>
                  </div>
               </form>


         </div>
      </section>
   </div>

</main>

<% include partials/footer %>